In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### open data sesuai nama file yang kalian save

In [2]:
ds = pd.read_csv('Senior Data Scientist.csv')
ds['keyword']=['Senior Data Scientist / Data Scientist']*len(ds)

In [3]:
da = pd.read_csv('Senior Data Analyst.csv')
da['keyword']=['Senior Data Analyst / Data Analyst']*len(da)

In [4]:
de = pd.read_csv('Senior Data Engineer.csv')
de['keyword']=['Senior Data Engineer / Data Engineer']*len(de)

In [5]:
bi = pd.read_csv('Senior Business Intelligence.csv')
bi['keyword']=['Senior Business Intelligence / Business Intelligence Analyst']*len(bi)

In [6]:
full = pd.concat([de,ds,da,bi],ignore_index=True)
full.to_csv('Academi_DE.csv',index=False)

In [7]:
full

,companyName,postedDate,careerLevel,sizeOfEmployee,companyIndustry,detailDescription,employmentType,jobFunction,keyword
0,Hyphen Group,Posted 4 days ago,NaN,201-500 employees,Financial Services,"THE ROLE \nIn an exciting, international ...",Full-time,Information Technology,Senior Data Engineer / Data Engineer
1,PT. Jasa Teknologi Informasi IBM,Posted 2 weeks ago,Associate,NaN,"['Information Technology & Services', 'Compute...",Create and maintain optimal data pipeline arch...,Full-time,Information Technology,Senior Data Engineer / Data Engineer
2,Asia Pulp & Paper,Posted 1 week ago,Mid-Senior level,10001+ employees,Paper & Forest Products,2nd,Full-time,"['Information Technology', 'Business Developme...",Senior Data Engineer / Data Engineer
3,Xiaomi Indonesia,Posted 1 week ago,Associate,51-200 employees,Internet,2nd,Full-time,"['Analyst', 'Engineering']",Senior Data Engineer / Data Engineer
4,5x,Posted 1 day ago,NaN,2-10 employees,NaN,Position: Data Engineer\nBasic Salary: Higher ...,Full-time,NaN,Senior Data Engineer / Data Engineer
...,...,...,...,...,...,...,...,...,...
158,Gojek,Posted 1 week ago,Associate,"1,001-5,000 employees","['Computer Software', 'Internet', 'Financial S...",About The Role\n\nWe'll cut to the chase and g...,Full-time,"['Research', 'Analyst', 'Information Technology']",Senior Business Intelligence / Business Intell...
159,HappyFresh,Posted 2 months ago,Associate,201-500 employees,"['Marketing & Advertising', 'Computer Software...",HappyFresh is the fastest-growing online groce...,Full-time,"['Research', 'Analyst', 'Information Technology']",Senior Business Intelligence / Business Intell...
160,BukuKas,Posted 1 week ago,Associate,NaN,NaN,What is BukuKas?\n\nBukuKas is a hyper fast gr...,Full-time,"['Research', 'Analyst', 'Information Technology']",Senior Business Intelligence / Business Intell...
161,Vidio,Posted 2 months ago,Mid-Senior level,NaN,"['Marketing & Advertising', 'Online Media', 'I...",Job Requirements\nAdvanced skills on Query Lan...,Full-time,"['Research', 'Analyst', 'Information Technology']",Senior Business Intelligence / Business Intell...
162,Kelas Pintar,Posted 4 weeks ago,Mid-Senior level,NaN,"['Marketing & Advertising', 'Information Techn...",Supports and creates Business Intelligence pro...,Full-time,"['Research', 'Analyst', 'Information Technology']",Senior Business Intelligence / Business Intell...

In [17]:
visualisasi = full.drop(['companyIndustry','detailDescription','jobFunction'],axis=1)

In [21]:
visualisasi['posted']=['a']*len(visualisasi)

In [22]:
visualisasi.loc[visualisasi['postedDate']=='Posted 4 days ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 2 weeks ago','posted']='more than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 1 week ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 1 day ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 3 days ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 9 hours ago','posted']='less than 1 day'
visualisasi.loc[visualisasi['postedDate']=='Posted 4 weeks ago','posted']='more than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 1 month ago','posted']='more than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 6 hours ago','posted']='less than 1 day'
visualisasi.loc[visualisasi['postedDate']=='Posted 2 months ago','posted']='more than 1 month'
visualisasi.loc[visualisasi['postedDate']=='Posted 3 months ago','posted']='more than 1 month'
visualisasi.loc[visualisasi['postedDate']=='Posted 3 weeks ago','posted']='less than 1 month'
visualisasi.loc[visualisasi['postedDate']=='Posted 6 days ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 2 days ago','posted']='less than 1 week'
visualisasi.loc[visualisasi['postedDate']=='Posted 4 months ago','posted']='more than 1 month'
visualisasi.loc[visualisasi['postedDate']=='Posted 15 hours ago','posted']='less than 1 day'

In [23]:
visualisasi['sizeOfEmployee']=visualisasi['sizeOfEmployee'].fillna('Unknown')

In [24]:
visualisasi['sizeOfEmployee'] = visualisasi['sizeOfEmployee'].apply(lambda x: x.split(' ')[0])

In [25]:
visualisasi['careerLevel']=visualisasi['careerLevel'].fillna('Unknown')

In [27]:
visualisasi_df = visualisasi.drop(['postedDate'],axis=1)

In [29]:
visualisasi_df.to_csv('visual1.csv',index=False)